<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterEmp</title>
</head>
<body>
    <div>
        <h1 style="text-align:center;">Register New Employee Form</h1>
        <hr />
        <form action="" method="post">
            <label>Enter Eno:</label>
            <input type="text" name="Eno" value="" />
            <br />
            <label>Enter Ename:</label>
            <input type="text" name="Ename" value="" />
            <br />
            <label>Enter Job:</label>
            <input type="text" name="Job" value="" />
            <br />
            <label>Enter Salary:</label>
            <input type="text" name="Salary" value="" />
            <br />
            <label>Enter Dname:</label>
            <input type="text" name="Dname" value="" />
            <br />
            <input type="submit" name="submit" value="Register" />
        </form>
    </div>
</body>
</html>